body{
    background-image: linear-gradient(
        to bottom,
        rgba(255, 0, 0, 0.623),
        rgba(0, 47, 255, 0.137)
    ),
    url(media/HD-Desktop-Wallpaper-NBA.jpg);
    background-repeat: no-repeat;
}

#uppercase{
    text-transform: uppercase;
}

h1{
    font-family: 'Calistoga', cursive;
    font-size: 98px
}

h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 70px
}