body{
    background-color: red;
}

@import "./header";
$color: (
    primary:#333
);
@function color($color-name) {
    @return map-get($color, $color-name);
}

.flex-parent{
    height: 60vh;
    background-color: blue;
    display: flex;
}
.flex-child{
    height: 20vh;
    background-color: green;
    margin: 10px;
}

#flex-grow{
    -webkit-box-flex: 1;
    -ms-flex-positive:1;
    flex-grow: 1;
}
